# Environnements virtuels
.venv/
venv/
ENV/
env/

# Config privée
.env

# Artifacts générés
.runs/
artifacts/
*.md
!README.md

# Caches / temporaires Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Logs
*.log
logs/

# Fichiers d’éditeur
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db
