python-dotenv
aiohttp
openai
jsonschema[format]

# API and testing dependencies
fastapi
pydantic
pydantic-settings
networkx
sqlmodel
SQLAlchemy
asyncpg
httpx
asgi-lifespan
pytest
pytest-asyncio

# Observabilité
prometheus-client==0.22.1
sentry-sdk==2.35.0
